<div class="row">
    <div class="col-md-8 col-md-offset-2" ng-if="videoExists">
        <div class="video_panel_big">
            <span class="video_panel_big_title">{{video.name}}</span>
            <span class="video_panel_big_avg_rating">Average rating: {{video.avgRating | number:2 }}</span>

            <div ng-include="'app/components/video_single/videogular_container_big.html'"></div>
            <p>{{video.description}}</p>

            <div class="alert "> <span class="label label-info">{{rateStatus}}</span>
                <div star-rating rating="starRating" read-only="{{freezeRate}}" max-rating="5" click="rateVideo(param)"></div>
            </div>
        </div>

    </div>
    <div ng-if="!videoExists">
        <h1>Video not found</h1>
    </div>
</div>
